<%- include('includes/head') -%>
<%- include('includes/navbar') -%>

    <div class="container">
        
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8 my-3">
                <h1 class="text-center">Agenda</h1>
                <p class="text-center load"> Seus contatos: </p>

                <%- include('includes/messages') %>

                <div class="responsive-table">
                    <table class="table">
                        <tr>
                            <td>João Victor</td>
                            <td>Carrijo</td>
                            <td>16991110426</td>
                            <td>joaovictorxl120@gmail.com</td>
                        </tr>

                        <tr>
                            <td>João Victor</td>
                            <td>Carrijo</td>
                            <td>16991110426</td>
                            <td>joaovictorxl120@gmail.com</td>
                        </tr>

                    </table>
                </div>

            </div>
            
            <div class="resp"

            <div class="col-lg-2"></div>
        </div>    
    
    </div>

<%- include('includes/footer') -%>